@{
    PostSystem.Website.ViewModels.UserViewModel loggedUser = null;
    ViewData["Title"] = "Начало";
    if (TempData["LoggedUser"] != null)
    {
        loggedUser = Newtonsoft.Json.JsonConvert.DeserializeObject<PostSystem.Website.ViewModels.UserViewModel>(TempData["LoggedUser"].ToString());
        TempData["LoggedUser"] = Newtonsoft.Json.JsonConvert.SerializeObject(loggedUser);
    }
}

<div class="text-center">
    <h1 class="display-4">Добре дошли@(loggedUser == null ? "" : $", {loggedUser.Username}")</h1>
</div>
